.header {
    background: #F8F8FB;
    box-shadow: 0px 20.2109px 40.4219px -6.73698px rgba(39, 76, 119, 0.16);
    border-radius: 0px 0px 16.8424px 16.8424px;
    .container {
        max-width: 1280px;
        padding: 10px;
        margin: 0 auto;
        .wrapper {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .go_back_without_text {
            display: none;
          }
          .btn_wrapper {
           
            display: flex;

            gap: 10px;
          }
          
        }
    }
}


@media(max-width:776px) {
  .header {
   
    .container {
     
        .wrapper {
          .go_back_without_text {
            display: block;
            margin-right: 5px;
          }
          .go_back_with_text {
            display: none;
          }
          .btn_wrapper {
           
            .btn {
                font-size: 10px;
            }
          }
          
        }
    }
}
}