
//HEADLESS UI MODAL STYLES

.s1 {
    position: relative;
    z-index: 10;
}

.s2 {
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.s3 {
    opacity: 0;
}

.s4 {
    opacity: 1;
}

.s5 {
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.s6 {
    overflow-y: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.s7 {
    display: flex;
    padding: 1rem;
    text-align: center;
    justify-content: center;
    align-items: flex-start;
    min-height: 100%;

   
}

.s8 {
    --transform-translate-y: 1rem;
    opacity: 0;

    @media (min-width: 640px) {
        --transform-scale-x: .95;
        --transform-scale-y: .95;
        --transform-translate-y: 0;
    }
}

.s9 {
    --transform-translate-y: 0;
    opacity: 1;

    @media (min-width: 640px) {
        --transform-scale-x: 1;
        --transform-scale-y: 1;
    }
}

.s10 {
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.s11 {
    --transform-translate-y: 0;
    opacity: 1;

    @media (min-width: 640px) {
        --transform-scale-x: 1;
        --transform-scale-y: 1;
    }
}

.s12 {
    --transform-translate-y: 1rem;
    opacity: 0;

    @media (min-width: 640px) {
        --transform-scale-x: .95;
        --transform-scale-y: .95;
        --transform-translate-y: 0;
    }
}

.s13 {
    width: 500px;
    background-color: white;
    height: fit-content;
    padding: 0 10px;
    padding-top: 50px;
    padding-bottom: 20px;
    border-radius: 10px;
    position: relative;
}
.s16 {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}
.s14 {
    position: relative;
    z-index: 10;
}

.s15 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.8);
    transition-property: opacity;
}

