.wrapper {
    
    .title {
        margin-bottom: 10px;
        margin-top: 20px;
        font-style: normal;
        font-weight: 700;
        font-size: 15.1582px;
        line-height: 18px;
        display: flex;
        align-items: center;
        color: #274C77;
    }
    .input_wrapper {
        display: flex;
        align-items: center;
        gap: 10px;
        .input {
            width: 100%;
            height: 40px;
            padding: 10px;
            font-style: normal;
            font-weight: 400;
            font-size: 15.1582px;
            color: #274C77;
            border-radius: 8px;
            border: 1px solid #516F91;
            &:focus {
                outline: none;
            }
        }
        
        .input_error {
            @extend .input;
            border: 1px solid #F74646;;
        }
        .delete_icon {
            width: 25px;
            height: 25px;
            cursor: pointer;
        }
    }
   
}