.title {
    font-weight: 700;
    font-size: 15.1582px;
    line-height: 18px;
    display: flex;
    align-items: flex-end;
    color: #274C77;

}
.btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}