.wrapper {
    width: 100% ;
    margin-top: 20px;
    .project_name {
        font-style: normal;
        font-weight: 700;
        font-size: 15.1582px;
        line-height: 18px;
        display: flex;
        align-items: center;
        color: #274C77;
        margin-bottom: 20px;
      }
}